h1 {
  color: black;
  background-color: #e8e8e8;
  padding: 40px;
  font-family: arial;
  font-size: 1.6em;
  margin: 0;
  display: inline-block;
  border-radius: 9px;
  width: 450px;
  text-align: center;
  height: 300px;
}

h2 {
  color: #808080;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding: 0 34px;
  margin: 0;
}

section.wrapper {
  height: 100vh;
  padding: 60px;
  overflow: hidden;
  box-sizing: border-box;
}

span.metric {
  margin: 3px;
  padding: 4px 9px;
  border-radius: 4px;
  display: inline-block;
}
